<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen font-sans">

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="fixed top-10 right-10 ml-3 mt-3 border-l-4 p-4 alert z-50 
                    {% if category == 'info' %} bg-blue-200 border-blue-500 text-blue-700 
                    {% elif category == 'error' %} bg-red-200 border-red-500 text-red-700 
                    {% elif category == 'warning' %} bg-yellow-200 border-yellow-500 text-yellow-700 
                    {% elif category == 'success' %} bg-green-200 border-green-500 text-green-700 
                    {% endif %}" role="alert">
                    {{ message }}
                    <div type="button" class="close absolute right-1 top-1 cursor-pointer" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-gray-700 cursor-pointer" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container mx-auto mt-20">
        <h1 class="text-4xl font-bold mb-10 text-center">Edit Account Details</h1>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <form method="POST" action="/owner/details">

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="fname">First Name</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="fname" id="first-name" type="text" placeholder="First Name" value="{{ str(user['fname']) }}" required>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="lname">Last Name</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="lname" id="last-name" type="text" placeholder="Last Name" value="{{ str(user['lname']) }}" required>
                </div>

                <div class = "mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" style="color:cornflowerblue; font-size: 16px;" for="infocheck">Confirm changes with existing email and password.</label>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" id="email" type="email" placeholder="{{ str(user['email']) }}" value="{{ str(user['email']) }}" disabled>
                </div>
                
                <div class="mb-4">
                     <!-- Password Input -->
                     <label for="register-password" class="block text-sm font-bold mb-2">Password</label>
                     <input type="password" name="password" id="register-password" placeholder="Enter your password" class="mb-4 p-3 w-full border rounded" required>
    
                <div class="mb-4">
                     <!-- Confirm Password Input -->
                     <label for="confirm-password" class="block text-sm font-bold mb-2">Confirm Password</label>
                     <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your password" class="mb-4 p-3 w-full border rounded" required>
                     <span id="passwordError" class="text-red-500"></span>
                </div>
                
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Save Changes</button>
                    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" href="/owner/dashboard">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById("registration-form").addEventListener("submit", function(event){
        const password = document.getElementById("register-password").value;
        const confirmPassword = document.getElementById("confirm-password").value;
        const passwordError = document.getElementById("passwordError");
    
        if(password !== confirmPassword) {
            passwordError.textContent = "Passwords do not match!";
            event.preventDefault(); // Prevent form from submitting
        } else {
            passwordError.textContent = ""; // Clear the error message
        }
    });
</script>

</html>

